<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/table.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}" />
    <title>Course project</title>
</head>

<body background="#1589FF" style="background-color: aquamarine;">
    <ul class="metanav">
        <li class="nav nav-left"><a class="nav-link" href="/">Home</a></li>
        {% if not session.logged_in %}
        <li class="nav nav-left"><a class="nav-link" href="/login">Log in</a></li>
        <li class="nav nav-right"><a class="nav-link" href="/register">Register</a></li>
        {% else %}
        <li class="nav nav-left"><a class="nav-link" href="/dashboard">Dashboard</a></li>
        <li class="nav nav-left"><a class="nav-link" href="/post/create">Add post</a></li>
        <li class="nav nav-left"><a class="nav-link" href="/logout">Log out</a></li>
        <li class="nav nav-right">Hello {{ session.user.name }}</li>
        {% endif %}
    </ul>
    <h1 style="text-align: center; color: white;"> Welcome To Creative blog</h1>
    {% block body %} {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="container error">
        {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %} {% endwith %} {% for post in posts %}
    <table class="layout display responsive-table">
        <tbody>
            <tr>
                <th>Date</th>
                <th>Title</th>
            </tr>
            <tr>
                <td style="width: 50%">{{ post.date }}</td>
                <td style="width: 50%"><a href="/post/{{ post.id }}">{{ post.title }}</a></td>

            </tr>
            <tr>
                <td colspan=2 height="120px">
                    Author id:{{post.author_id}} <br>Post: {{ post.post }}
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %} {% endblock %}
</body>

</html>