{% extends "index.html" %} {% block body %}
<table class="layout display responsive-table">
    <tbody>
        <tr>
            <th>Date</th>
            <th>Title</th>
        </tr>
        <tr>
            <td style="width: 50%">{{ post.date }}</td>
            <td style="width: 50%"><a href="/post/{{ post.id }}">{{ post.title }}</a></td>

        </tr>
        <tr>
            <td colspan=2 height="120px">
                Author id:{{post.author_id}}{{ post.post }}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}